{% extends 'base.html' %}
{% block content %}
    <div class="alert alert-success" id="success-alert" >
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Успешно!</strong>
        Ваше сообщение отправлено.
    </div>
    <div class="row">
        <div class="main-post">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div id="face" style="background-size: 350px; width: 350px; height: 300px; display: block"></div>
                            <ul class="hire_me">
                                <li>
                                    <a href="http://www.upwork.com/o/profiles/users/_~011cef03a136be8a23/" target="_blank" class="btn btn-success pull-left">Hire me on Upwork</a>
                                </li>
                                <li>
                                    <a href="http://hh.ru/resume/37276eaeff02a2181d0039ed1f763852305a55" target="_blank" class="btn btn-success pull-left">Hire me on HeadHunter</a>
                                </li>
                                <li>
                                    <a href="#contact" data-toggle="modal" class="btn btn-primary pull-left" data-target="#contact">Contact me</a>
                                </li>

                            </ul>
                            </div>
                        <div class="col-lg-8">
                           <h2>Витольд Станиславович Коморовский</h2>

                            <table class="table table-condensed table-hover">
                                <caption><h3>Опыт работы</h3></caption>
                                {% for postion in positions %}
                                <tr>
                                    <td>{{ postion.month_from }} {{ postion.year_from }} —
                                        {% if postion.month_to and postion.year_to %}
                                        {{ postion.month_to }} {{ postion.year_to }}
                                        {% else %}
                                        по настоящее время
                                        {% endif %}
                                    </td>
                                    <td> {{ postion.title|safe }}
                                        <br>
                                        <b>{{ postion.description }}</b>
                                    </td>
                                </tr>
                                {% endfor %}
                                </table>
                            <table class="table table-hover">
                                <caption><h3>Образование</h3></caption>
                                <thead>
                                <tr>
                                    <th colspan="2"><b><a href="http://research.sfu-kras.ru/node/5008" target="_blank">Кандидат наук</a></b></th>
                                </tr>
                                <tr>
                                    <td>2011</td>
                                    <td>
                                        Сибирский федеральный университет, Красноярск
                                        <br>
                                        Институт космических и информационных технологий
                                    </td>
                                </tr>
                                <tr>
                                    <td>2006</td>
                                    <td>
                                        Сибирский государственный технологический университет, Красноярск
                                        <br>
                                        Факультет переработки природных соединений
                                    </td>
                                </tr>
                                </thead>
                            </table>
                            <table class="table table-hover">
                                <caption><h3>Знание языков</h3></caption>
                                <tr>
                                    <td><h4>Русский</h4></td>
                                    <td>Родной</td>
                                </tr>
                                <tr>
                                    <td><h4>Английский</h4></td>
                                    <td>Письменный, разговорный</td>
                                </tr>
                                <tr>
                                    <td><h4>Польский</h4></td>
                                    <td> Разговорный</td>
                                </tr>
                            </table>
                            <h5>Дата рождения: 08.06.1984, сейчас мне <b id="age"></b></h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var date_now = new Date();
            var birthday = new Date(1984, 6, 8);
            var age = date_now.getYear() - birthday.getYear();
            age =  date_now.setFullYear(1984) < birthday.setFullYear(1984) ? age - 1 : age;
            $("#age").html(age);
        });
    </script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script type="text/javascript" src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>
{% include 'blog/contacts.html' %}
{% endblock %}