{% load crispy_forms_tags %}
<div class="modal" id="contact" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Связаться со мной:</h4>
      </div>
      <div class="modal-body">
          {% crispy form %}
      </div>
    </div>
  </div>
</div>
<script>
$( "#feedback" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();
  var data = $( this ).serialize();
  // Get some values from elements on the page:
  $.ajax({
      type: "POST",
      url:  $( this ).attr( "action" ),
      data: data,
      success: function (data) {
        onSuccess();
      },
      error: function (data) {
           $.each(data.responseJSON, function(key, value){
               $("#div_id_" + key).addClass('has-error');
            });
      },
      dataType: 'json'
    });
});
function onSuccess() {
    $("#contact").hide();
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
    $("#success-alert").show();

}
</script>