{% for post in posts %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2><a href="{% url 'post' post.id %}">{{ post.title }}</a></h2>
                <div id="post_body"><p>{{ post.text|safe|truncatewords:30 }}</p></div>
                {% if post.tags %}
                    <div id="tags" class="pull-right">
                        Тэги:
                        {% for tag in post.tags.all %}
                            <i>{{ tag.name }} </i>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

