{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KWS blog</title>
    <script type="text/javascript" src="{% static "assets/app.min.js" %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link type="text/css" href="{% static "assets/app.css" %}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}" type="image/x-icon">
{% block javascript %}
    {% endblock %}
{% block css %}
    {% endblock %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter40501055 = new Ya.Metrika({
                    id:40501055,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/40501055" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>

<body>
<div class="parallax">

  <div class="parallax__layer parallax__layer--base">
    {% include 'blog/navbar.html' %}
    <div id="content" class="container">
        {% block content %}
        {% endblock %}
    </div>
  </div>
  <div class="parallax__layer parallax__layer--back">
  </div>
</div>
<div id="scrollup"><img alt="Прокрутить вверх" src="{% static "assets/images/up.png" %}" width="100px"></div>
</body>
</html>